# Source control
.git/
.github/

# IDE
.idea/
.vscode/

# Config files
tsconfig.json
jest.config.js
babel.config.js
.yarnrc.yml

# Testing
coverage/
**/*.test.ts
**/*.test.tsx
__tests__/

# Development
.env*
*.log
.DS_Store
